[2020-06-12 08:36] 365businessdev opened #1 "Procedures with Attributes (Event / Internal) does not work"
Events (Subscriber/Publisher) are not recognized/skipped when running cmds "Generate markdown documentation[...]"

Support for internal procedures would be nice :) At the moment it does not create documentation block ///

Original reported from [rating by Christian Ziepel](https://marketplace.visualstudio.com/items?itemName=365businessdevelopment.bdev-al-xml-doc&ssr=false#review-details)

[2020-06-12 08:38] 365businessdev opened #2 "Only global procedures will be exported"
Only global procedures are recognized on cmd "Generate markdown documentation[...]". Local/Internal...etc are skipped.

Original reported from [rating by Christian Ziepel](https://marketplace.visualstudio.com/items?itemName=365businessdevelopment.bdev-al-xml-doc&ssr=false#review-details)

[2020-06-12 08:38] 365businessdev opened #3 "Keywords in documentation"
If text inside /// contains some keywords like "codeunit"(lowercase),"procedure" (lowercase), then cmd "Generate markdown documentation[...]" does not recognize documentation block

Original reported from [rating by Christian Ziepel](https://marketplace.visualstudio.com/items?itemName=365businessdevelopment.bdev-al-xml-doc&ssr=false#review-details)

[2020-06-12 08:45] 365businessdev commented on #2
This behaviour is currently by design. We had planned to export only visible and global procedures, since the original reason for the extension was to document the source code for dependent extensions in AL.

We will consider adding a configuration setting.

[2020-06-15 09:11] MAC-Christian commented on #2
From this perspective it makes totally sense, only to export globals.
It would be nice to have it configurable. We want to use the markdown result in azure devops as internal wiki. (see screenshot attached). Therefore we need also local/internal procedures :)
![2020-06-15_10h58_00](https://user-images.githubusercontent.com/40752996/84638760-aebd0600-aef7-11ea-91f2-0053e83e3364.png)

[2020-06-15 09:27] 365businessdev commented on #2
@MAC-Christian Thank you, we understand.
We are working on a configuration setting to enable export for local and internal procedures.

[2020-06-15 09:47] 365businessdev commented on #1
Sorry, we're unable to reproduce. If event is not local (see #2 ) Events (Internal, Business, Integration) and other Attributes (e.g. Obsolete) will be exported.

Used this code for testing:
[code]

Could you pls provide example code to reproduce?

[2020-06-15 17:55] 365businessdev commented on #2
We've added a new configuration parameter `exportScope` with version 0.2.1
![image](https://user-images.githubusercontent.com/63005008/84689509-5e6a9600-af41-11ea-9992-97c3c033c845.png)

[2020-06-15 17:55] #2 closed

[2020-06-15 17:56] 365businessdev commented on #3
Fixed with version 0.2.1.

[2020-06-15 17:56] #3 closed

[2020-06-16 07:49] MAC-Christian commented on #1
I found out that is not related to attributes. An underline in procedure name is causing this issue. We use an underline in Subscriber name to separate publisher name from subscriber task.

procedure GetHistory_OnAfterGetRecord()
begin
end;

[2020-06-16 08:25] 365businessdev commented on #1
Ok, thank you!
We will check and fix in the next version.

[2020-07-02 10:50] 365businessdev commented on #1
Fixed with #6 Version 0.3.0

[2020-07-02 10:50] #1 closed

[2020-07-02 11:44] 365businessdev opened #7 "Description in IntelliSense"
Add parameter (`<param>`) information to IntelliSense
![image](https://user-images.githubusercontent.com/63005008/86354831-06829d80-bc6a-11ea-9eb4-e0b89942ad81.png)

[2020-07-06 11:02] rvanbekkum opened #8 "Generate XML Documentation can be triggered from a line inside a procedure above another procedure"
Dear @365businessdev,
First off, thank you for the extension.

I've noticed that you can trigger the documentation-generator typing `///` in a line in the file above a procedure, e.g.:
![triggeredEverywhere](https://user-images.githubusercontent.com/7383241/86586213-d4ce4700-bf87-11ea-83ea-0f7c8e319831.gif)

Could you look into this?

[2020-07-06 11:03] rvanbekkum opened #9 "Setting to enable/disable XML documentation comments generator"
Dear @365businessdev,
The [AL Code Outline](https://github.com/anzwdev/al-code-outline) extension offers a similar feature for generating documentation comments, which can be disabled through a setting `alOutline.docCommentsType`.
Could you add a setting that allows us to disable documentation comments to be created after typing `///` from this extension? This way we can choose one of the two impl

[2020-07-06 20:59] 365businessdev commented on #8
Thank you for reporting this issue. We will fix with the next release

[2020-07-08 08:58] rvanbekkum opened #10 "Weird behaviour generating documentation comments for internal procedures"
Dear @365businessdev,
I have ran into some weird issues trying to add documentation comments to internal procedures.

1. It seems to be doing something wrong if there is a local procedure beneath an internal procedure. I think this is best explained with an example:
[code]
    Putting the code above in a codeunit and then typing `///` above the internal procedure, results in:
    ![image](https://

[2020-07-08 17:59] sirhc101 commented on #10
You're absolutly right! `internal procedure` is not working properly. Fixed this in `dev` branch already and preparing for release

[2020-07-08 18:03] sirhc101 commented on #8
Fixed in version 0.3.1

[2020-07-08 18:03] sirhc101 commented on #9
New setting `enableDocComments` in version 0.3.1

[2020-07-08 18:04] sirhc101 commented on #10
Fixed in version 0.3.1

[2020-07-09 07:45] MicAlter31 opened #11 "Unable to process objects with "-" inside of object name"
Hi!
I found a bug when creating a xml doc definition for a function which uses a record which table names contains a "-" inside.

Sample:
[code]

The created markdown will split the record "Another - Record" at the '-' character and creates a further parameter defintion.

Output:
`Warnings:
============= CallFunction(Param1: Text; MyRecord: record MyRecord; var AnotherRecord: Record "Another - Rec

[2020-07-10 07:39] #10 closed

[2020-07-10 07:39] #9 closed

[2020-07-10 07:39] #8 closed

[2020-07-11 13:40] sirhc101 commented on #11
Fixed in version 0.3.2

[2020-07-11 13:40] #11 closed

[2020-07-14 11:50] sirhc101 opened #12 "Procedure Names with "begin" or "end" do not trigger xml documentation"
Since bugfix related to #8 in version 0.3.1 procedures with "begin" or "end" in name do not trigger XML documentation anymore.
[code]

[2020-07-20 10:59] #12 closed

[2020-07-20 13:59] sirhc101 opened #14 "Procedure overload results in incorrect diagnostic info"
Procedure overload results in incorrect diagnostic information. The retrieved line number is always equal for all implementations of the overloaded procedure. This results in incorrect application of the quick fix.

**Example**
[code]

[2020-07-20 14:16] #14 closed

[2020-07-21 21:47] sirhc101 commented on #7
Will not be added due to announced feature in Business Central 2020 Release Wave 2

https://docs.microsoft.com/en-us/dynamics365-release-plan/2020wave2/smb/dynamics365-business-central/code-documentation-comments

[2020-07-22 08:03] StefanMaron opened #17 "Missing documentation non public functions"
Is it intentional that the info about mission documentation is shown on non public functions?

in detail:
- local fuctions
- event publishers
- test functions / codeunits

also maybe triggers like OnAfterGetRecord should not needed to be documented because there should not be any code except function calls inside

[2020-07-22 08:18] sirhc101 commented on #17
Hello Stefan,

yes, it's intended because in our point of view documentation belongs to each procedure, even publishers and local functions. Well, while thinking about it I would agree with you regarding the test procedures, because if using GIVEN-WHEN-THEN and SCENARIO documentation an additional procedure documentation is really not necessary.
I will discuss this...currently I'm thinking about s

[2020-07-23 03:37] StefanMaron commented on #17
Version is already 4.1 so trigger are fine ;)

[2020-07-23 08:59] sirhc101 commented on #17
We decided to add an additional configuration setting to control which kind of procedures will be checked.

[2020-07-23 11:50] msomp opened #18 "Documentation and var parameters"
First of all thank you for the interesting extension for the documentation of methods in BC. I think that makes a lot of sense and am considering using this type of source code documentation in my apps.
During my first tests I noticed that the transfer of var parameters into the .md file might not work properly, see screenshot (Parameter 'var PerCompanyUpgradeTags' description missing!)

In additi

[2020-07-23 12:25] fvet opened #19 "Default value : checkProcedureDocumentation = false"
Would it be possible to set the default value of checkProcedureDocumentation to false?
We've 35+ repo's, in combination with 40+ workspaces and this results in 30.000+ warnings about missing documentation.

I know we can update the settings.json and code-workspace settings with checkProcedureDocumentation : false, but it would be fine if the extension by default would disable the check.

[2020-07-23 14:30] 365businessdev commented on #18
Hello Martin,

thank you for your feedback. We will take a look into the issue you reported. Looks like a bug.

Regarding your request for `${workspaceFolder}` placeholder: That's a really good idea. We will implement this in the next version.

[2020-07-23 16:58] sirhc101 commented on #19
Hello fvet,

Thank you for your feedback.

We discussed this internally and decided to not disable the feature by default.
But we will add an additional option you can set. This option will asks everytime you open a new workspace if you want to enable or disable the feature. The selection will then be written to the workspace settings.json, so this question only appears once per workspace.

I hope

[2020-07-24 06:41] Entreri86 opened #20 "Shows warning even when the function is documented"
First of all, thank you, thank you very much for the work done :-)

It only happens in some functions (strange), that the documentation is set for all the parameters and shows a warning that it is not documented in the VsCode output.

![image](https://user-images.githubusercontent.com/15688332/88366287-12551180-cd89-11ea-9bc2-434cef10136c.png)

I have tried to look for a pattern but I have not bee

[2020-07-24 09:06] sirhc101 commented on #20
Thank you very much for reporting.
I checked this and found the issue in one of the regex. Fixed it in dev branch already.

[2020-07-24 09:07] Entreri86 commented on #20
¡Thanks!

[2020-07-24 11:56] sirhc101 commented on #19
We've added the following implementation and will release it with the 0.4.2 version coming out soon.

In `settings.json` (I would prefer the user settings) add the following entry:
[code]

From now, if you open a new workspace the following question appears:
![image](https://user-images.githubusercontent.com/39621236/88388502-eea7c080-cdb4-11ea-8b74-f69ac5e5ad7c.png)

As a result of this answer th

[2020-07-24 12:01] sirhc101 commented on #18
Hello @msomp,

The requested feature regarding the `${workspaceFolder}` is already there... at least similar to what you've asked for.
If you do not configure the `markdown_path` in configuration or if you leave it blank `"bdev-al-xml-doc.markdown_path": ""` the export will automatically use the current workspace folder and append  `doc` to it.

Does this solve your request?

Thank you.
Chris

[2020-07-24 12:11] sirhc101 commented on #17
Hello @StefanMaron,

we've added the following implementation and will ship this with the upcoming release 0.4.2.

In `settings.json` you can add the new configuration element `bdev-al-xml-doc.procedureTypes`. It supports the following selection types:

- Global Procedures
- Local Procedures
- Internal Procedures
- Event Publisher
- Event Subscriber
- Trigger Procedures
- Test Procedures

The conf

[2020-07-24 13:59] msomp commented on #18
Hi Chris,

thank you for your response. My concern was originally to have only one doc-directory in the workspace on the same level as the App- and the Test directory. With this I wanted to ensure that the documentation of the main and the test app ended up in the same directory. I could have entered the directory directly in the settings, but thought that a placeholder would be better. But now I

[2020-07-24 14:52] msomp opened #21 "Reserved word and method name in double quotes"
Hello again,

I noticed that if, for example, the word trigger appears in the summary, the method name is no longer correctly formed in the documentation.

Also method names in double quotes are not recognized, like
procedure "APProcID Cr.Memo" (): Integer

[2020-07-24 17:16] sirhc101 commented on #18
Hi Martin,

yes you're right! Thank you for reporting.
In current version all configurations will be only queried from the top-level in multi-root workspaces. This is a bug! I also found it recently while developing and testing the new feature for issue #19.

I'm currently working on it.

[2020-07-28 09:36] #20 closed

[2020-07-28 15:05] sirhc101 commented on #21
Fixed with version 0.4.2

[2020-07-28 16:01] msomp commented on #21
Thank you!
These things are now working.

[2020-07-28 16:03] msomp commented on #18
Great, very well done. Thanks.

[2020-07-28 16:11] msomp opened #23 "Quick fix and Subtype property problems"
While reviewing and testing the changes for #18 and #21 I found two more issues, probably:

1. The quick fix / add documentation action inserts the doc template, but cuts out the first character of the method name
2. when generating the markdown documentation for a codeunit with a Subtype property, an error occurs: Unhandled exception. System.NullReferenceException: Object reference not set to an

[2020-07-28 21:15] sirhc101 commented on #23
Hello @msomp

thank you for reporting the issues.
Unfortunately I was not able to reproduce the problems with my test objects.

Could you pls provide an example and the call stack of the exception?

Thank you very much.

[2020-07-28 21:28] sirhc101 commented on #23
If`ve tested in some more projects and found one where an similar error occured. The documentation is inserted after 'p' of 'procedure'. Pretty strange to be honest, I look into it more deeply but need some example anyway.

Thank you in advance.

[2020-07-29 06:50] msomp commented on #23
Hi,

in the screenshot there's an example of what's happening when I insert a documentation for a procedure with the quick fix function:
![Bildschirmfoto 2020-07-29 um 08 36 48](https://user-images.githubusercontent.com/55102386/88765371-adc5f800-d176-11ea-80d1-524f3948ba64.jpg)

Additionally, please find a simple Install Codeunit attached where the exception occurs at my side. The output is:

`AL

[2020-07-29 07:25] sirhc101 commented on #23
Thank you very much! I fixed it and published the new version 0.4.3 with the bugfixes.

[2020-07-29 08:25] msomp commented on #23
Thank your for the quick fix!

[2020-07-29 08:36] msomp opened #24 "Strange .md filename"
Hello,
it looks like special codings are leading to some kind of confused md. file naming.
The filename produced with the attached al-file for example is: "and not rec.IsTemporary() then.md".

[N2SEventsTest.Codeunit.al.zip](https://github.com/365businessdev/vscode-alxmldocumentation/files/4993675/N2SEventsTest.Codeunit.al.zip)

Thanks again.

[2020-07-29 15:44] #21 closed

[2020-07-29 15:45] #17 closed

[2020-07-29 15:45] #18 closed

[2020-07-29 15:45] #19 closed

[2020-07-29 15:45] #23 closed

[2020-07-29 18:32] sirhc101 commented on #24
Thanks again!! Next beer at TechDays is on me :wink:

I'm currently testing the fix for this issue.

[2020-07-30 09:21] sirhc101 commented on #24
Fixed with version 0.4.4

[2020-07-30 16:07] msomp commented on #24
Thank you, that fix seems to be working. Very well done! There are other topics that I think may be improved, but I'm going on vacation soon, so if you want I give you more feedback again afterwards.

[2020-08-01 14:29] #24 closed

[2020-08-10 09:51] rvanbekkum opened #26 "Typo in DOC0001 Message"
Dear @365businessdev team,
I've noticed there is a typo in the message from code-analyzer rule DOC0001.
![image](https://user-images.githubusercontent.com/7383241/89770803-90dade80-daff-11ea-8395-46d773fe9157.png)
I think the text should be "The procedure MyProcedure **is** missing documentation." (or something similar).

[2020-08-10 10:07] sirhc101 commented on #26
Oops! You're absolutly right. Will fix it with next release.

[2020-08-10 13:19] rvanbekkum opened #27 "Inherit documentation for procedures implementing interface methods"
Dear @365businessdev team,
Would it be possible to have the AL-XML-DOC code-analyzer take into account procedures implementing an `interface` method?
Considering you will mostly invoke the procedure through an interface variable, requiring documentation for procedures implementing it, might not always be that useful. Of course you add some additional comments for the specific implementation, but t

[2020-08-10 13:29] rvanbekkum opened #28 "Option for no code-analyzer message for procedures in objects with Access=Internal"
Dear @365businessdev team,
Would it be possible to have an option that makes it so that the code-analyzer does not report missing documentation for procedures in objects with Access=Internal (or even more restricted)?
With `bdev-al-xml-doc.procedureTypes` we can already set the type of procedures that will be checked, but if you have a global/public procedure in an internal codeunit, then the code

[2020-08-10 13:39] sirhc101 commented on #27
I like this approach very much, because I have been thinking about this "problem" for a while and I am looking for a solution. I will discuss this with the team and get back to you.

[2020-08-10 13:43] sirhc101 commented on #28
We're pretty unhappy the way we implemented the `procedureTypes` configuration at the moment and currently designing a new way to configure the diagnostics and procedure helper (tooltip, documentation insert, etc.)

I put this one our requirement list for the new implementation!

Thank you.

[2020-08-19 09:57] rvanbekkum opened #29 "Documentation code-fix also available on problems with different ID"
Dear @365businessdev,
I noticed that the code-fix "Add documentation" is also available for code-analyzer warnings with different IDs.

Here is a sample with a procedure without documentation and with a record type `MyRecord` that does _not_ exist:
[code]
If you go down to Problems and open up the code-fixes for the error AL0185 "Table 'MyRecord' is missing", then the "Add documentation" code-fix

[2020-08-19 11:39] sirhc101 commented on #29
Thank you for reporting. That's pretty weird! The Code Actions are already assigned to the Diagnostic Codes. I've debugged your example and everything seems correctly...but in frontend I see the same behaviour!

[2020-09-03 09:39] SirBETE opened #30 "No "returns" tag for named return values"
Simple example:
[code]

[code]
/// <returns name="Returnvalue">Return variable "Decimal".</returns>
is missing.

Love your extension btw! :D

[2020-09-03 09:42] SirBETE opened #31 "Indicator on param tag when passed by VAR"
Could it be possible to indicate in the  `<param name="Cust">Parameter of type Record Customer.</param>` that a parameter is passed by VAR?

Simple example:
[code]

[2020-09-03 12:54] sirhc101 commented on #30
Thank you for reporting. This is a bug in our signature recognition, we will fix it as soon as possible.

The next version will take some time as we are currently redesigning the extension. We are doing this because of the upcoming release of version BC17 / AL6, which also supports basic documentation functions.

[2020-10-02 09:20] rvanbekkum opened #32 "Code analysis rule for parameter documentation cannot find parameter if object name contains parentheses"
Dear @365businessdev team,
The following example raises an issue with code analysis rule `AL-XML-DOC(DOC0010)`:
[code]
![parentheses_issue](https://user-images.githubusercontent.com/7383241/94907837-09776f00-04a1-11eb-9933-9202530c495e.png)
The subtype of the parameter contains parentheses, and as a result, the code analysis rule cannot find the parameter correctly.

[2020-10-02 09:26] rvanbekkum opened #33 "Code analysis rule for documentation not working if parentheses are not on the same line"
Dear @365businessdev team,
Through this issue I would like to report the following issue. If you have a procedure and the parentheses are not on the same line, then the code analysis rule that checks for documentation is not working correctly.
Example:
[code]
(N.B. I did not add documentation for the procedure, so we would expect an info message from the code analysis rule, but it does not show up

[2020-10-04 09:03] sirhc101 commented on #33
Thank you @rvanbekkum. I've added this scenario into our test collection for the upcoming version.

[2020-10-04 09:05] sirhc101 commented on #32
Hello @rvanbekkum, you're right. Our RegEx do not support parentheses inside object or params. Thank you for reporting. Added this to our test collection.

[2020-10-06 14:13] #7 closed

[2020-10-23 09:18] rvanbekkum opened #35 "Code analysis rules are also applied on .dal files that are not in the current project"
Dear @365businessdev,
I noticed that there are also messages coming from the extension for .dal files:
![dal-al-xml-doc-info-messages](https://user-images.githubusercontent.com/7383241/96984722-d3b62b00-1520-11eb-8b79-12067dd17146.png)
I don't think that is intentional or necessary, right? Not sure whether something could and/or should be done to change this, but at the very least it confused me f

[2020-10-26 08:12] 365businessdev commented on #35
Thank you for reporting. We'll fix this bug in our upcoming release.

[2020-11-23 16:42] #35 closed

[2020-11-23 16:42] #33 closed

[2020-11-23 16:43] #32 closed

[2020-11-23 16:43] #31 closed

[2020-11-23 16:43] #30 closed

[2020-11-23 16:43] #29 closed

[2020-11-23 16:44] #26 closed

[2020-11-23 16:45] sirhc101 opened #38 "Add Support for inherit-doc documentation export"
In version 1.0.0 the markdown documentation export does not support `inheritdoc` documentations.

[2020-11-25 06:18] chris-amco opened #39 "Cannot run Generate markdown documentation"
When I try to run "AL DOC: Generate markdown documentation" / "AL DOC: Generate markdown documentation for directory", I receive the following error messages:

"Command 'AL DOC: Generate markdown documentation' resulted in an error (Running the contributed command: 'al-xml-doc.exportMarkdown' failed.)"

"Unable to find Visual Studio Code extension. Please try re-install."

- I have set "Documentat

[2020-11-25 06:34] sirhc101 commented on #39
Hello Chris,

Thank you very much for reporting.
As we have described in the readme file, we are currently in the process of reimplementing the transcription export. To be honest, we haven't really tested the export functionality as we just left it as it was in the previous version.

But you're right, that's a bug. I already fixed it and provided a minor update (v1.0.1) in Visual Studio marketplac

[2020-11-25 06:34] #39 closed

[2020-11-27 11:16] rvanbekkum commented on #28
Hi @365businessdev,
How can we configure that if a public procedure is in an `Access = Internal` object, that it does not need documentation?

Example:
![example public procedure in internal object](https://user-images.githubusercontent.com/7383241/100443364-da006f80-30a9-11eb-929f-8b9f40dc05b1.png)

Settings used are:
[code]
(I believe CheckProcedureDocumentationForAccessLevel is only for the mar

[2020-11-27 11:21] rvanbekkum opened #40 "Setting to suppress missing documentation messages for Access <> Public objects"
Hi @365businessdev,
Could you add a setting that let's you specify that you would only like to see "missing documentation"-messages from the code-analyzer if the object is part of the public API? (So, no message if `Access = Internal`, for example)
If this is already possible, then could you please let me know how? 😃

[2020-11-27 14:38] sirhc101 commented on #40
Related to reopened issue #28

[2020-11-27 14:55] sirhc101 commented on #28
Closed. Please see #40

[2020-11-27 14:55] #28 closed

[2020-11-27 15:15] sirhc101 commented on #40
Hi @rvanbekkum,

Thank you very much for reporting. This is a bug in our RegEx to detect object access level!
I fixed this in version 1.0.3.

Basically the documentation was wrong. The configuration parameter `CheckProcedureDocumentationForAccessLevel` is exactly handling this. So with the new version procedures will not be checked in objects with "Access" other then "Public".
At least in default

[2020-11-27 15:15] #40 closed

[2020-12-01 08:57] chris-amco opened #41 "<returns> tag contents are missing from generated markdown"
Hello,
I am not sure if I have missed something, but in the generated markdown for all of my procedures, the <returns> tag contents are missing from the generated markdown (it says the return value is "None").
I have tried with and without the "verbose" setting switched on. Is there anything else that I need to set?
Thanks in advance,
Chris

AL XML documentation v1.0.3.

Example XML comment
`   //

[2020-12-01 14:54] rvanbekkum commented on #27
Hi @365businessdev,
I noticed that you marked this feature as released, but unfortunately it does not seem to work.
I have a codeunit that implements an interface, the interface has documentation for its procedures, but I still get the message that documentation is missing, also after adding `<inheritdoc/>`.
How was this implemented, or is this missing or a bug?

[2020-12-02 07:42] sirhc101 commented on #27
Hi @rvanbekkum

Where did you get the missing documentation message? Do we talk about VSCode directly or the Export to Markdown?
What we've implemented in the current version is this:
![GitHub#27](https://user-images.githubusercontent.com/39621236/100843123-2cf76f80-347a-11eb-948b-2a0c3047919a.gif)

The Export to Markdown does currently not support `<inheritdoc/>`, but we are releasing a new versi

[2020-12-02 07:46] sirhc101 commented on #41
Hi @chris-amco

Thank you very much for reporting. This looks like a bug for me.
We are currently working on a new version of markdown export to support `<inheritdoc/>` documentations and custom stylesheets. I will add this test case.

/Chris

[2020-12-02 07:50] sirhc101 commented on #27
Let me add one notice:
Why did we not simply implemented `<inheritdoc/>` and added the code reference (`cref`)?
The reason for this are overloaded procedures. When we just used `<inheritdoc/>` we had problems to identify the exact procedure in Interface object.
That's why we decided to use `<inheritdoc cref="Reference"/>` instead.

[2020-12-02 07:56] rvanbekkum commented on #27
Hi @sirhc101,
It seems like I am not getting these options from the IntelliSense. I looked into it, and it seems like this happens when the codeunit object name contains an underscore `_`. Could you have a look at this?

[2020-12-02 08:24] sirhc101 commented on #27
Hi @rvanbekkum,

Do you not see the `AL XML Documentation Interface Comment` and `Inherit AL XML Documentation Comment` completion (IntelliSense) items after typing `///` or does the code analyzer compain about missing documentations?

In case you do not see the completion items it looks like the extension cannot access the Interface object source code (`showMyCode`?)

I tried with an new Interfac

[2020-12-02 08:26] sirhc101 opened #42 "Procedure documentation check fails with quoted codeunit name implementing interface"
[code]

[2020-12-02 08:30] rvanbekkum commented on #27
Hi @sirhc101,
I am not seeing the completion items "when the **codeunit** object name contains an underscore `_`" 😉.
This also happens if the interface and codeunit are in the same project.

[2020-12-02 08:32] rvanbekkum commented on #27
More specifically, it's for a codeunit object name without surrounding quotes `"` and with an underscore in the name `_`.

[2020-12-02 08:33] sirhc101 commented on #27
Oops! It's early 😉
No I can reproduce. I will investigate and come back to you.

Thank you.

[2020-12-02 08:42] sirhc101 commented on #27
I've found the issue and fixed it in dev-branch. Let me test a little more with other combinations.

[2020-12-04 13:35] chris-amco commented on #41
Hi Chris Thanks for the reply. In case you are interested, here are a couple of other issues that I have been having:When I split a procedure’s signature over more than 1 line, no markdown is generated for that procedure (despite it having XML comments). This is easy to work-around, just put the whole signature on a single line.I want to generate markdown for public procedures only. I have set the

[2020-12-14 09:59] rvanbekkum opened #43 ""Inherit AL XML Documentation Comment" results in 'badly formed XML' if parameter type object name contains spaces (and therefore surrounded by quotes in the signature)"
Dear @365businessdev,
If you use the command "Inherit AL XML Documentation Comment" the parameter types are added in the reference to the original procedure in the interface.
If a parameter type is an object with a name that needs to be surrounded by quotes, e.g. `"Temp Blob"`, then this results in a warning message:
![bad XML](https://user-images.githubusercontent.com/7383241/102067424-5b226b00-3

[2020-12-14 10:00] rvanbekkum commented on #43
Perhaps you could escape the quotes with `&quot;`?

[2020-12-18 14:19] BobBrownCAI opened #44 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `bdev-al-xml-doc`
- Extension Version: `1.0.4`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.52.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\bobb.CAI\AppData\Local\Temp\365businessdevelopment.bdev-al-xml-doc-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/micros

[2020-12-18 14:39] sirhc101 commented on #44
@BobBrownCAI Thank you for reporting. Could you pls add the cpuprofile to this issue, so I can investigate a little bit more?

[2021-01-25 14:04] #44 closed

[2021-01-25 14:12] sirhc101 commented on #43
Sorry for the delay in fixing your supported issue!
We have recently released the version 1.0.5 which fixed this issue.

[2021-01-25 14:12] #43 closed

[2021-01-25 14:12] sirhc101 commented on #42
We have recently released the version 1.0.5 which fixed this issue.

[2021-01-25 14:12] #42 closed

[2021-01-25 14:12] sirhc101 commented on #27
Sorry for the delay in fixing your supported issue!
We have recently released the version 1.0.5 which fixed this issue.

[2021-01-25 14:12] #27 closed

[2021-02-15 13:12] rvanbekkum opened #45 "Code analyzer rules for missing procedure XML documentation also reacts on 'procedure' in comments"
Dear @365businessdev,
The code analyzer rule for missing XML documentation also appears to react on the contents of comments:
![image](https://user-images.githubusercontent.com/7383241/107950846-a4c43900-6f97-11eb-8af8-b1812e8d2343.png)

[2021-02-16 11:55] elweilando opened #46 "[QUESTION] Is It possible to run this extension also on OSX"
Is It possible to run this extension also on OSX?

[2021-02-16 12:38] 365businessdev commented on #46
Hello @elweilando,

we did not tested it to be honest, but we will do so and come back to you.

[2021-02-16 19:42] elweilando opened #47 "Documentation Export Path Setting don't work as expected"
If I define an export path in settings, every path starts from base path `C:\Program Files\Microsoft VS Code\`.
If I leave this setting empty, then a directory "docs" in app-root will be created.
Expectation is, that the directory I define in export settings should be relative from app-root.

[2021-02-17 08:07] sirhc101 commented on #47
Hello @elweilando,

you can use `${workspaceFolder}` as a placeholder in the `DocumentationExportPath` setting.

We described this in the documentation as well:

Hope that helps.

/Chris

[2021-02-17 08:07] #47 closed

[2021-02-17 08:35] rvanbekkum opened #48 "Option for no code-analyzer message for objects with Access=Internal"
Dear @365businessdev,
A follow-up on #28: could you also make it so that the code analyzer does not complain about missing object XML documentation for objects with `Access = Internal`/make an option available to configure it like that?

![internal_object_doc](https://user-images.githubusercontent.com/7383241/108177331-60ee4280-7103-11eb-99be-c653dbd713d5.png)

[2021-02-23 15:50] MacWin77 opened #49 "Only one Index.md for whole Project"
Hello :-)
Is there a possibility to just create one Index.md for the whole project?
Current Version looks like this
/doc
/doc/Object1Dir/index.md
 - Contains md files for function summarys
/doc/Object2Dir/index.md
 - Contains md files for function summarys
/doc/Object3Dir/index.md
 - Contains md files for function summarys
I want to create a folder structure like this

/doc
/doc/Object1Dir/
 - Con

[2021-03-23 10:32] lvanvugt opened #50 "Interested to demo your extension in a joined Areopa webinar?"
Hey Christoph,

Are you interested in demoing your VSCode extension in a [Areopa](https://areopa.academy/) webinar?
The idea is to have AL VSCode extension domed to the community.

If you're interested please let me know. Mail to: webinars@areopa.academy.

b rg
Luc van Vugt

[2021-03-25 12:04] spookymattress commented on #49
I vote for this enhancement as well!! 😜

[2021-03-25 12:08] sirhc101 commented on #49
We're currently working on the newest version, including the completely re-designed documentation markdown export. We added this enhancement to our backlog and will allow configuration to select creating one index file per project, per file or both.

Stay tuned, we plan to release the new version in next 2 weeks.

[2021-03-29 19:39] sirhc101 commented on #49
Hello @spookymattress & @MacWin77,

We've now our first beta version up and running and started some discussion in the team regarding the structure of the documentation (md) files generated. Current state is following:

- Each AL Object result in **one** markdown file, named like the AL file. This file includes the object description and each procedure, including params, obsolete reason, etc.<br>

[2021-03-29 19:48] #50 closed

[2021-03-30 09:08] spookymattress commented on #49
In daily use and for small-medium size projects I think I would go for File per project (index) and object including all procedures

But in large projects it could be nice to do:
File per project (index), object (index) and procedure

Could it be a config option you could set yourself?

[2021-03-30 12:00] sirhc101 commented on #49
@spookymattress Thank you. Yes, this are the same arguments which come into my mind. In large projects with APIs and stuff it's much more transparent. I will introduce a specific configuration for this.

[2021-03-30 18:58] spookymattress commented on #49
Cool, any idea when the new release will be available?

[2021-03-30 19:04] sirhc101 commented on #49
We're planning to release version 1.1.0 on April 16th.

From our backlog we have all but two work items finished and completely tested, so I think we're in plan.

[2021-04-05 09:11] TCMatthiasMartin opened #52 "Performance Issues"
This tool is really cool, but if you're working on a vertical solution with a few big files it slows the development really down.

For example, try to create a new Posting routing, just copy the Sales Post Codeunit and try to work in it.
This Codeunit got over 9500 lines it takes around 2 Minutes to save changes if the AL XML Documentation is enabled.
If you disable this extension it takes around

[2021-04-05 11:27] sirhc101 commented on #52
Thank you @TCMatthiasMartin for reporting.

We did some performance enhancements in the upcoming version, but I will look into it and try find out whats taking that much time in saving document.

[2021-04-05 13:59] sirhc101 commented on #52
You're absolutely right, we've two performance issues here.
First, the procedure detection takes way to long:
![image](https://user-images.githubusercontent.com/39621236/113581361-56dac180-9627-11eb-967d-3d2e6a1f7cbd.png)

Second, the process is fired each time you change anything in the file. So If you for example do type 4 characters the update process is exectued 4 times and we do not wait 5 se

[2021-04-05 14:03] TCMatthiasMartin commented on #52
@sirhc101 normally we have smaller files too, but in a few cases the files are (in my opinion) way to large.

I'm happy that I could help you to find an issues.
Thanks for reacting that fast to my request!

Thumbs up!

[2021-04-14 08:18] horribleCodes opened #53 "Ignoring empty lines when creating MarkDown documentation"
I use a definition list in the summary of my Pages, but when I generate the Markdown file it always ends up skipping a linebreak, breaking the format.

For example, the comment might look like this:
[code]
But when generating the .md, the third line gets removed:

[code]

Which, in the VS Code Preview, ends up looking like this:

![image](https://user-images.githubusercontent.com/7748313/114677121

[2021-04-14 13:07] sirhc101 commented on #53
Thank you for reporting. We've already fixed this. With the new documentation export it looks this way:
![image](https://user-images.githubusercontent.com/39621236/114715132-0b18ce00-9d33-11eb-9596-fa8a3ad125a1.png)

We're currently in final tests and plan to release the new version at friday.

[2021-04-14 13:52] horribleCodes commented on #53
Great, thanks for the quick response.

[2021-04-14 14:21] horribleCodes opened #54 "Won't generate Markdown for particular file"
In my module all but one AL-documents can successfully generate a corresponding Markdown file. When I attempt to create the .md for one of the page extensions, the extension will create a subfolder for the document and print in the output log that 0 errors occured, but the subfolder will always be empty. In fact, if there is an existing file (any file) in the folder when executing the cmdlet, it w

[2021-04-14 14:30] sirhc101 commented on #54
Thank you again, for reporting this issue. I tested it in the upcoming version:

![image](https://user-images.githubusercontent.com/39621236/114727643-ab282480-9d3e-11eb-9ba8-f85e873aca62.png)

[2021-04-14 14:54] sirhc101 commented on #53
Issue will be closed after release of v1.1

[2021-04-14 18:47] sirhc101 commented on #46
Hello @elweilando,

Sorry for waiting.
We've now tested the upcoming version 1.1.0 on OSX and can confirm that AL XML Documentation extension working fine.

[2021-04-14 18:47] #46 closed

[2021-04-20 12:39] horribleCodes opened #56 "Customizing automatically generated Markdown files"
Is it possible to customize the default layout of the .md file generated from the XML comments for each type of AL Object? I'd like some objects like Page Extensions to have more information than just a list of methods, but updating the file after editing it overwrites all changes.

[2021-04-20 20:26] sirhc101 commented on #56
Hi @horribleCodes,
Thank you for your suggestion. We added this to our backlog for version 1.2.0 and will evaluate this request.

[2021-04-20 20:27] sirhc101 opened #57 "Multi-line documentation in markdown export"
Multi-line documentation (object documentation) break layout in markdown object file.
![image](https://user-images.githubusercontent.com/39621236/115459939-edae9d00-a227-11eb-9854-88baac02507f.png)

[2021-04-21 18:43] #38 closed

[2021-04-21 18:43] #41 closed

[2021-04-21 18:43] #45 closed

[2021-04-21 18:43] #48 closed

[2021-04-21 18:43] #49 closed

[2021-04-21 18:43] #52 closed

[2021-04-21 18:43] #53 closed

[2021-04-21 18:43] #54 closed

[2021-04-21 18:43] #57 closed

[2021-04-23 20:14] mjmatthiesen opened #59 "Disable the new line feature"
Right now when you create a new line, the extension inserts the ///. By default this is good behaviour. But when I am pasting something, it will add that too, even though it's not necessary.

e.g. I have three functions that all do the same thing based on different source.

GetCustomerWithSalesHeader(salesheader, customerno)
GetCustomerWithPurchaseHeader(purchaseheader, customerno)
GetCustomerWith

[2021-04-23 22:18] sirhc101 commented on #59
Thank you for reporting this issue. We will look into it and try to find a way solving this.

[2021-05-04 10:01] spookymattress opened #60 "path.replace is not a function"
When trying to create documentation with the command AL DOC: Export documentation I get the following error:

[code]
The project I am working on is opened as a work space.

[2021-05-04 10:02] #60 closed

[2021-05-04 10:02] spookymattress commented on #60
Found issue myself

[2021-05-26 13:13] OtterWhisperer opened #62 "Change export path to root directory of app and test projects"
Dear 365businessdev developers,

in regards to https://github.com/365businessdev/vscode-alxmldocumentation/issues/18#issuecomment-663552820 I'm curious: how is it possible to configure the "al-xml-doc.DocumentationExportPath in a way that the parent folder would be set. I tried a bunch of other vs code extension whom give me the parent directory resulting in a "path.replace" error. The ${workspace

[2021-05-31 14:18] sirhc101 commented on #62
Thank you for reporting. This looks like a bug. I will fix this as soon as possible

[2021-06-18 17:36] sirhc101 commented on #62
Sorry for waiting. I've fixed the issue and shipped the version 1.1.3 in marketplace. It should update automatically.
From now you are able to use relative paths or `${workspaceFolder}` if you want to place your documentation in the workspace root.

[2021-06-18 17:40] sirhc101 opened #64 "Example Code from procedure documentation is missing in documentation export"
In XML documentation export as PDF or MD file the example code `<example>` is missing.

[2021-06-18 17:46] sirhc101 opened #65 "Export documentation as XML file"
To provide procedure and object documentations even for AL projects using `showMyCode = false` it's helpful to ship the documentation as part of the application artifacts. Therfor we plan to add a new action `Export XML documentation`. This documentation file will include all accessable procedures and objects.

Additionally AL XML documentation extension will look for XML documentation artifacts a

[2021-06-18 22:13] OtterWhisperer commented on #62
Nah, I'm good, thank you so much! That was faster then I expected and my excitment tonight was skyrocking as iI saw the update of this issue. Unfortunately the bad news is that the `${workspaceFolder}` doesn't work for my system.

In the error message it says:

The `D:\OtterWhisperer\github\d365bc-al-template` folder exists and is the workspaceFolder: `"al-xml-doc.DocumentationExportPath": "${work

[2021-06-19 08:06] OtterWhisperer commented on #62
I tried to come up with a solution for this and what does the trick for me was this change: https://github.com/OtterWhisperer/vscode-alxmldocumentation/commit/9f6e82e1e8d0199979b304b7b604b4ba3501db48. Would love to hear your opinion on this. Have a nice weekend!

[2021-06-19 12:36] sirhc101 commented on #62
Oh you're right. It worked for me in one project, but in another I got the same issue.
I'm able to reproduce it.

[2021-06-19 12:39] sirhc101 commented on #62
@OtterWhisperer You're fix looks good to me. I will merge this and release a fixed version after some testing in different scenarios.

Thank you very much

[2021-06-20 14:30] #64 closed

[2021-06-20 14:31] sirhc101 commented on #62
Thank you very much for contribution @OtterWhisperer
I merged your contribution from [OtterWhisperer@9f6e82e](https://github.com/OtterWhisperer/vscode-alxmldocumentation/commit/9f6e82e1e8d0199979b304b7b604b4ba3501db48).

New version 1.1.4 is alredy shipped to marketplace

[2021-06-20 14:31] #62 closed

[2021-07-03 00:00] mjmatthiesen opened #67 "See and SeeAlso?"
I saw the options for see and seealso, but don't see the two mentioned in the docs. I can anticipate how they would be used, but am unsure of what the differences are.

Could the docs be expanded to included these. Right now I am using See to redirect for deprecated procs or similar ones.

[2021-07-03 13:27] sirhc101 commented on #67
Hi,
We're currently developing for a new major version including some additional features and pipeline support.
In our backlog we already added the features to support additional xml tags, like see, seealso and exception. We plan to support all existing xml tags from C# (see https://docs.microsoft.com/en-us/dotnet/csharp/codedoc)

Pls be a little bit patient, because we restructure our core to mai

[2021-08-17 14:35] RafaelKoch opened #68 "Cannot read property 'example' of undefined"
I tried to export documentation for a workspace and after creating 700+ md files the output stops with an error `Cannot read property 'example' of undefined`

Has somebody also seen this? Is there maybe an option to get to some debugging output to see which file broke the process?

[2021-08-17 14:41] sirhc101 commented on #68
Hi @RafaelKoch,

Thank you for reporting this issue. We will looking into it as soon as possible.

Do you see which object causes the crash? Is there an <example> documentation included?

/Chris

[2021-08-17 14:46] RafaelKoch commented on #68
No unfortunately I do not see which object crashed it. The output ends with the last successful object and then the error. I found no way to reliably find the next object to be processed.

Here is one example of a crash:

![image](https://user-images.githubusercontent.com/25029667/129747504-6a01905e-5330-4615-b3d4-2b13edaeec0b.png)

[2021-08-17 14:48] RafaelKoch commented on #68
BTW: when it works, the output is very cool!

[2021-08-17 15:06] sirhc101 commented on #68
Ok, thank you anyway. I will try to reproduce and get back to you.

[2021-08-25 08:52] virusbear opened #70 "Example tag only accepts 'al' language"
When specifying the example tag in the xml documentation the only valid language is al.
It would be nice to be able to specify the language the example is written in.
Currently only an empty language block will be shown as seen in the example below.

![image](https://user-images.githubusercontent.com/23473248/130759954-de371dfb-fc0a-4587-b68c-c9da7ebda934.png)

[2021-08-25 08:54] virusbear commented on #70
See [PR 69](https://github.com/365businessdev/vscode-alxmldocumentation/pull/69)

[2021-08-25 09:29] sirhc101 commented on #70
Thanks for reporting the issue and providing the necessary code change.

I'm currently in vacation, but I try to release the changes as soon as possible.

[2021-08-26 07:35] virusbear opened #72 "Unable to set language for procedure examples"
In [PR 69](https://github.com/365businessdev/vscode-alxmldocumentation/pull/69) I added the language parameter when exporting the example block for AL Object.
Unfortunately this does not work for procedures yet.
Also the `code` property of the `documentation.example` object is `undefined`.
[PR 71](https://github.com/365businessdev/vscode-alxmldocumentation/pull/71) aims at fixing both of those iss

[2021-08-26 07:49] RafaelKoch opened #73 "Feature Request: Support VS Code workspaces"
Today the extension does not support workspaces, so i.e. when generating documentation all docs get placed in the first app folder and not all al files get processed. The workaround is to open every app as separate folder. It would be very convenient if workspaces would be supported.

[2021-10-05 00:20] ChristianBraeunlich commented on #73
This got fixed in https://github.com/365businessdev/vscode-alxmldocumentation/issues/62 and released in v1.1.4. I just tested it with the latest v1.1.6 release and everything still works.

Add `"al-xml-doc.DocumentationExportPath": "${workspaceFolder}/docs"` to the settings section of your .code-workspace file.

[2021-10-19 08:34] ChrisBlankDe opened #74 "Documentation Generation as Azure Pipeline Step"
Generating the docs on a devs notebook is cool but imho not the best solution from the point of view of process automation.
What do you think about providing an additional extension for azure pipelines that can provide the documentation as part of an automated build process?

im not a ts dev so maybe this is just bs:
Maybe move the common logics to an npm package which is comsumed by vscode and pi

[2021-10-19 08:47] 365businessdev commented on #74
Hello Chris,

Yes, you are absolutely right! We've been poking around for a while to find the best way to develop a pipeline task to run the AL XML documentation export and diagnostics. We've been looking for the best way to run the VS code extension and the DevOps pipeline task with the same core, but right now we haven't found the perfect way.

It's not about TypeScript or NPM, but we realized t

[2021-10-19 08:47] #73 closed, assigned to nobody

[2021-12-02 06:58] jnissen opened #75 "Extension make Intelisense Slow"
Hello,
if i Have Installed this Extension Intelisense is very slow.
In the Extecute Extension window is then Comment
Unresponsive

![ALXMLExtension](https://user-images.githubusercontent.com/7793064/144373332-834d94fc-e4ef-4f1b-8044-31c67ba07e18.png)
.

[2021-12-02 08:12] sirhc101 commented on #75
Hello @jnissen,

we're currently working on the new AL XML Documentation extension, version 2.0, which will be based on a new core. The new core currently looks much faster in our projects so we hope to solve this issue with the update as well.

Could u pls give me some additional infos? When does the unresponsive appear? While initialization or while editing? We recognized some unresponsive while

[2021-12-07 09:15] jnissen commented on #75
Hello,
Installation works fine.
If the Extension ist installed All Intelisense Help are slow.....
If I press Strg+Space it´s appears "Loading" but nothing happens.... Also in Small Codeunits...
If it helps, I can test your Extension ....

[2021-12-07 10:00] sirhc101 commented on #75
Thanks for your update! Sure, I'll let this issue stay open, until it's fixed and will get back to you as soon as our new extension version is ready for testing.

[2022-03-16 15:03] fvet opened #77 "Disable warnings for ControlAddins"
@sirhc101 Would it be possible to provide a fix for this issue, or should we wait for the new version? Any ETA on when the new release would be available?

We've configured our workspace with following settings

[code]
However, I can't get rid of the warnings (neither via #pragma) that are shown on the events for our controladdin objects. Any idea on how to disable these?

![image](https://user-im

[2022-03-16 15:16] sirhc101 commented on #77
Hi @fvet

Sure, that's a small change. I will provide a fix for this asap.

Regarding your question for the new version. The base version is completed, but we're currently testing a lot to make sure performance is good. Right now I'm not very happy with the performance of big files, but we've some ideas how to solve the problems.

[2022-03-16 16:08] sirhc101 commented on #77
You can now specify two new options in `CheckProcedureDocumentationForType`:

- `Control Add-In Events`
- `Control Add-In Procedures`

Additionally procedures in control add-ins will no longer be recognized as global, local or internal procedure. All are now handled with `Control Add-In Procedures` instead

![image](https://user-images.githubusercontent.com/39621236/158633721-705ce3ba-3f02-4917-8d

[2022-03-16 16:10] sirhc101 commented on #72
PR merged in Version 1.1.7

[2022-03-16 16:10] #72 closed

[2022-03-16 19:41] fvet commented on #77
Just installed the latest version and it works fine!

Thanks a lot for the quick fix ;)

[2022-03-16 19:41] #77 closed

[2022-04-14 16:30] matthewmartin-nvg opened #81 "Export documentation for file - does not work"
Am on latest version = 1.1.7:
I have the file open and all files have been saved, but get error "AL Object could not been found".

![image](https://user-images.githubusercontent.com/68237290/163432507-571408e7-c73b-418e-bf0b-cabc76092b22.png)

[2022-04-14 16:42] matthewmartin-nvg opened #82 "Export documentation - should only delete *.md"
"Export documentation" generates MD files for all objects, however at the start it deletes ALL files in the DOC folder - so please change this to only delete *.md files, since there could be other file types in this folder.

[2022-04-20 08:37] Szloby opened #83 "Export when DocumentationExportSchema: "Project File + Object File + Procedure File""
Whe the export schema set to "Project File + Object File + Procedure File", then an error comes if only one documentation comment is missing over a procedure:
![image](https://user-images.githubusercontent.com/47845497/164185686-e054a7c8-0b13-4565-a20f-2984ce15e72d.png)

When I create the documentation comment for the next procedure, it moves forward:
![image](https://user-images.githubusercontent

[2022-05-06 06:52] fvet opened #84 "ControlAddins warnings still appear in workspaces"
Related to #77

In the app settings.json, the control add-in warnings have been disabled and do not appear when opening the app **folder**.

[code]

![image](https://user-images.githubusercontent.com/25268332/167081452-a131421b-29e7-4a45-8d23-9bb2d0f5c03f.png)

However, when including the app folder in a workspace and opening the **workspace** instead, the control add-in warnings appear again.

![

[2022-07-05 06:41] JacoBothaDyn opened #85 "Unable to find app.json for current workspace. While Exporting Documentation"
## On an app created with Al-Go for GitHub.

When using **AL DOC: Export Documentation**,
Documentation starts exporting, then an error Occurs:

Unable to find app.json for current workspace. Please report this issue to https://github.com/365businessdev/vscode-alxmldocumentation/issues/ for further investigation

[2022-06-02 08:40:25.368] Starting creation of documentation files.
[2022-06-02 08:40

[2022-07-08 16:15] Ji-Peter opened #86 "Collapsing XML Comments"
Sometimes the comment blocks get really large but are unnecessary while coding. Being able to collapse the comments using the tags would be amazing.

Would it be possible to implement this enhancement for this extension?

[2022-07-28 13:35] fvet commented on #84
@sirhc101 @365businessdev  Any status on the progress of this issue? Warnings are still shown when working via workspaces...

![image](https://user-images.githubusercontent.com/25268332/181518519-5c4c2759-5c1d-447d-b19a-c1c1a55a391d.png)

[2022-07-28 16:14] sirhc101 commented on #84
Sorry for waiting.

I will take a look at this next week.

Sorry again

[2022-08-29 14:26] ZepposBE commented on #75
@sirhc101 ,
1st of all, ty for the utility provided by the extension.
I was wondering though, is this optimization still work in progress? Having the extension enabled is eating all my resources. Had to disable the extension to even be able to work properly. (No IntelliSense at all, delayed compilation of written code, ...)

[2022-08-30 12:01] sirhc101 commented on #75
@ZepposBE Yes, it's still a work in progress, but right now I have only little time to work on it.

[2022-11-28 11:59] hhfiddelke commented on #75
I think there is a general design fail to use to much regex on the whole source file. I think performance would be much better, when reading file line by line and creating the structures while reading the file.
I just used an awk - script to generate an AL- source file of 6 MB size it takes about one second to process, because it is reading the source line by line and creates internal structures,

[2022-11-29 10:08] sirhc101 commented on #75
Sorry, currently I do not find the time to work on the new version! 🙁 I hope that I will find time over Christmas and New Year to finish the new version. Then all open issues, including the performance issue will be fixed.